@model PizzaGatResturant.Models.Customer



@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name  Hello :)</h2>
<ul>

    <li>Birthay: @Model.CustomerBirthday</li>
    

    
</ul>
